@import "~react-bulma-components/src/index.sass";
@import '~bulma-pageloader';
@import 'bulma';
@import 'bulma/css/bulma.css';
@import 'animate.css';

.badges {
    color: white;
    display: inline-block;
    border-radius: 4px;
    padding: 0.2em 0.5em;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: capitalize;
    & + .badges {
        margin-left: 4px;
    }
}

.is-150x150 {
    width: 150px;
    height: 150px;
}

.tabs {
    & ul {
        border-bottom: 1px solid #dbdbdb !important;
    }
    & li {
        cursor: pointer;
        align-items: center;
        border-bottom-color: #dbdbdb;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        color: #4a4a4a;
        display: flex;
        justify-content: center;
        margin-bottom: -1px;
        padding: 0.5em 1em;
        vertical-align: top;
    }
    & li.is-active {
        border-bottom-color: #3273dc;
        color: #3273dc;
    }
}

.pokemon-gender + .pokemon-gender {margin-left: 1em;}

.gender-male {color: #3182ce;}
.gender-female {color: #d53f8c;}

.color-bg-grass {background-color: #b5eaaf;}
.color-grass {background-color: #4fb443;}

.color-bg-fire {background-color: #ffc8a9;}
.color-fire {background-color: #e76b2f;}

.color-bg-water {background-color: #afd9ff;}
.color-water {background-color: #3a8be9;}

.color-bg-bug {background-color: #d4dfa7;}
.color-bug {background-color: #889e2a;}

.color-bg-normal {background-color: #e4e0cf;}
.color-normal {background-color: #afa485;}

.color-bg-poison {background-color: #e6c2ef;}
.color-poison {background-color: #a15ab1;}

.color-bg-electric {background-color: #ffe9a7;}
.color-electric {background-color: #f4c234;}

.color-bg-ground {background-color: #ecd8b4;}
.color-ground {background-color: #b7904b;}

.color-bg-fairy {background-color: #fdf;}
.color-fairy {background-color: #f9a8ef;}

.color-bg-fighting {background-color: #e7bdb8;}
.color-fighting {background-color: #9b4840;}

.color-bg-psychic {background-color: #ffcbde;}
.color-psychic {background-color: #f5779e;}

.color-bg-rock {background-color: #ecd8b4;}
.color-rock {background-color: #b7904b;}

.color-bg-ghost {background-color: #cbc1e8;}
.color-ghost {background-color: #65539d;}

.color-bg-ice {background-color: #bfe0ff;}
.color-ice {background-color: #61a2ed;}

.color-bg-dragon {background-color: #b9b9fc;}
.color-dragon {background-color: #3b3bbb;}

.color-bg-dark {background-color: #c9c0c0;}
.color-dark {background-color: #5e4c4c;}

.color-bg-steel {background-color: #d9d7e5;}
.color-steel {background-color: #908da9;}

.color-bg-flying {background-color: #cbdeff;}
.color-flying {background-color: #7a9ff2;}